In [15]:
import csv
import itertools

In [16]:
with open('C:\\Users\\m5in\\Documents\\FAC\\Marubozu\\NIFTY_SEP.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(",") for line in stripped if line)
    with open('C:\\Users\\m5in\\Documents\\FAC\\Marubozu\\NIFTY_SEP.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerow(('Stock_Market','Trading_Day', 'Trading_Time', 'Open', 'High', 'Low', 'Close','#','*'))
        writer.writerows(lines)

In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("C:\\Users\\m5in\\Documents\\FAC\\Marubozu\\NIFTY_SEP.csv")
df

,Stock_Market,Trading_Day,Trading_Time,Open,High,Low,Close,#,*
0,NIFTY,20200901,09:08,11464.30,11464.30,11464.30,11464.30,0,0
1,NIFTY,20200901,09:16,11464.85,11464.85,11376.45,11394.30,0,0
2,NIFTY,20200901,09:17,11395.35,11402.80,11380.75,11402.80,0,0
3,NIFTY,20200901,09:18,11403.50,11408.55,11390.25,11393.05,0,0
4,NIFTY,20200901,09:19,11389.85,11389.85,11370.10,11380.80,0,0
...,...,...,...,...,...,...,...,...,...
8310,NIFTY,20200930,15:28,11224.35,11225.40,11222.40,11223.00,0,0
8311,NIFTY,20200930,15:29,11223.55,11223.70,11221.50,11223.10,0,0
8312,NIFTY,20200930,15:30,11222.90,11228.55,11222.10,11226.30,0,0
8313,NIFTY,20200930,15:31,11226.50,11226.50,11226.50,11226.50,0,0
8314,NIFTY,20200930,15:35,11228.40,11247.55,11228.40,11247.55,0,0

In [19]:
df1 = {
    'Trading_Day':[None],
    'Req_Trading_Day':[None],
    'Trading_Time':[None],
    '09:30':[None],
    '10:00':[None],
    '10:30':[None],
    '11:00':[None],
    '11:30':[None],
    '12:00':[None],
    '12:30':[None],
    '13:00':[None],
    '13:30':[None],
    '14:00':[None],
    '14:30':[None],
    '15:00':[None],
    '15:30':[None],
    'Open':[None],
    'High':[None],
    'Low':[None],
    'Close':[None]
}

In [20]:
df1['Trading_Day'] = df.Trading_Day.unique()
arr = df1['Trading_Day']
df1["Trading_Day"] = pd.DataFrame(arr, columns = None)

In [21]:
x = len(df1['Trading_Day'])
arr = []
for i in range(x):
    for j in range(13):
        arr.append(df1['Trading_Day'].iloc[i])
arr = np.array(arr)
df1["Req_Trading_Day"] = pd.DataFrame(arr, columns =None)

In [22]:
time = ['09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30']

for i in range(len(time)):
    arr = df[df["Trading_Time"]==time[i]].index.values
    df1[time[i]] = pd.DataFrame(arr, columns = None)

In [23]:
time = ['09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30']
U_high = []
U_low = []
U_open = []
U_close = []
for i in range(len(df1["Trading_Day"])):
    #print(i)
    for j in range(0,len(time)-1):
        #print(time[j])
        High = 0
        Low = 1000000
        flag = 0
        if(j==0):
            for k in range(0,(df1[time[j]].iloc[i][0])):
                if(k==0):
                    U_open.append(df['Open'][0])
                if(k==df1[time[j]].iloc[i][0]-1):
                    U_close.append(df['Close'][k])
                if(df['High'][k]>High):
                    High = df['High'][k]
                elif(df['Low'][k]<Low):
                    Low = df['Low'][k]
                else:
                    continue
            U_high.append(High)
            U_low.append(Low)
            
        for k in range((df1[time[j]].iloc[i][0]),(df1[time[j+1]].iloc[i][0])):
            if(k==df1[time[j]].iloc[i][0]):
                U_open.append(df['Open'][k])
            if(k==df1[time[j+1]].iloc[i][0]-1):
                U_close.append(df['Close'][k])
            if(df['High'][k]>High):
                High = df['High'][k]
            elif(df['Low'][k]<Low):
                Low = df['Low'][k]
            else:
                continue
            #print(High,j)
        U_high.append(High)
        U_low.append(Low)

#print(U_open)

In [24]:
U_low = np.array(U_low)
U_high = np.array(U_high)
U_open = np.array(U_open)
U_close = np.array(U_close)

In [25]:
df1["High"] = pd.DataFrame(U_low , columns =None)
df1["Low"] = pd.DataFrame(U_high, columns = None)
df1["Open"] = pd.DataFrame(U_open, columns = None)
df1["Close"] = pd.DataFrame(U_close, columns = None)

In [26]:
df1

{'Trading_Day':            0
 0   20200901
 1   20200902
 2   20200903
 3   20200904
 4   20200907
 5   20200908
 6   20200909
 7   20200910
 8   20200911
 9   20200914
 10  20200915
 11  20200916
 12  20200917
 13  20200918
 14  20200921
 15  20200922
 16  20200923
 17  20200924
 18  20200925
 19  20200928
 20  20200929
 21  20200930,
 'Req_Trading_Day':             0
 0    20200901
 1    20200901
 2    20200901
 3    20200901
 4    20200901
 ..        ...
 281  20200930
 282  20200930
 283  20200930
 284  20200930
 285  20200930

 [286 rows x 1 columns],
 'Trading_Time': [None],
 '09:30':        0
 0     15
 1    393
 2    771
 3   1149
 4   1527
 5   1905
 6   2283
 7   2661
 8   3039
 9   3417
 10  3795
 11  4173
 12  4551
 13  4928
 14  5306
 15  5684
 16  6062
 17  6440
 18  6818
 19  7196
 20  7574
 21  7952,
 '10:00':        0
 0     45
 1    423
 2    801
 3   1179
 4   1557
 5   1935
 6   2313
 7   2691
 8   3069
 9   3447
 10  3825
 11  4203
 12  4581
 13  4958
 14  5336
 15  5714
 16  6092
 17  6470
 18  6848
 19  7226
 20  7604
 21  7982,
 '10:30':        0
 0     75
 1    453
 2    831
 3   1209
 4   1587
 5   1965
 6   2343
 7   2721
 8   3099
 9   3477
 10  3855
 11  4233
 12  4611
 13  4988
 14  5366
 15  5744
 16  6122
 17  6500
 18  6878
 19  7256
 20  7634
 21  8012,
 '11:00':        0
 0    105
 1    483
 2    861
 3   1239
 4   1617
 5   1995
 6   2373
 7   2751
 8   3129
 9   3507
 10  3885
 11  4263
 12  4641
 13  5018
 14  5396
 15  5774
 16  6152
 17  6530
 18  6908
 19  7286
 20  7664
 21  8042,
 '11:30':        0
 0    135
 1    513
 2    891
 3   1269
 4   1647
 5   2025
 6   2403
 7   2781
 8   3159
 9   3537
 10  3915
 11  4293
 12  4671
 13  5048
 14  5426
 15  5804
 16  6182
 17  6560
 18  6938
 19  7316
 20  7694
 21  8072,
 '12:00':        0
 0    165
 1    543
 2    921
 3   1299
 4   1677
 5   2055
 6   2433
 7   2811
 8   3189
 9   3567
 10  3945
 11  4323
 12  4701
 13  5078
 14  5456
 15  5834
 16  6212
 17  6590
 18  6968
 19  7346
 20  7724
 21  8102,
 '12:30':        0
 0    195
 1    573
 2    951
 3   1329
 4   1707
 5   2085
 6   2463
 7   2841
 8   3219
 9   3597
 10  3975
 11  4353
 12  4731
 13  5108
 14  5486
 15  5864
 16  6242
 17  6620
 18  6998
 19  7376
 20  7754
 21  8132,
 '13:00':        0
 0    225
 1    603
 2    981
 3   1359
 4   1737
 5   2115
 6   2493
 7   2871
 8   3249
 9   3627
 10  4005
 11  4383
 12  4761
 13  5138
 14  5516
 15  5894
 16  6272
 17  6650
 18  7028
 19  7406
 20  7784
 21  8162,
 '13:30':        0
 0    255
 1    633
 2   1011
 3   1389
 4   1767
 5   2145
 6   2523
 7   2901
 8   3279
 9   3657
 10  4035
 11  4413
 12  4791
 13  5168
 14  5546
 15  5924
 16  6302
 17  6680
 18  7058
 19  7436
 20  7814
 21  8192,
 '14:00':        0
 0    285
 1    663
 2   1041
 3   1419
 4   1797
 5   2175
 6   2553
 7   2931
 8   3309
 9   3687
 10  4065
 11  4443
 12  4821
 13  5198
 14  5576
 15  5954
 16  6332
 17  6710
 18  7088
 19  7466
 20  7844
 21  8222,
 '14:30':        0
 0    315
 1    693
 2   1071
 3   1449
 4   1827
 5   2205
 6   2583
 7   2961
 8   3339
 9   3717
 10  4095
 11  4473
 12  4851
 13  5228
 14  5606
 15  5984
 16  6362
 17  6740
 18  7118
 19  7496
 20  7874
 21  8252,
 '15:00':        0
 0    345
 1    723
 2   1101
 3   1479
 4   1857
 5   2235
 6   2613
 7   2991
 8   3369
 9   3747
 10  4125
 11  4503
 12  4881
 13  5258
 14  5636
 15  6014
 16  6392
 17  6770
 18  7148
 19  7526
 20  7904
 21  8282,
 '15:30':        0
 0    375
 1    753
 2   1131
 3   1509
 4   1887
 5   2265
 6   2643
 7   3021
 8   3399
 9   3777
 10  4155
 11  4533
 12  4911
 13  5288
 14  5666
 15  6044
 16  6422
 17  6800
 18  7178
 19  7556
 20  7934
 21  8312,
 'Open':             0
 0    11464.30
 1    11466.95
 2    11411.95
 3    11428.35
 4    11453.15
 ..        ...
 281  11256.50
 282  11248.15
 283  11268.10
 284  11275.75
 285  11258.40

 [286 rows x 1 columns],
 'High':             0
 0    11370.10
 1    11366.90
 2    11391.95
 3    11421.65
 4    11391.10
 ..        ...
 281  11243.10
 282  11241.80
 283  11261.80
 284  11252.50
 285  11221.50

 [286 rows x 1 columns],
 'Low':             0
 0    11470.60
 1    11510.00
 2    11452.95
 3    11462.25
 4    11464.90
 ..        ...
 281  11275.45
 282  11280.15
 283  11295.40
 284  11291.90
 285  11267.70

 [286 rows x 1 columns],
 'Close':             0
 0    11467.55
 1    11411.50
 2    11428.40
 3    11454.20
 4    11429.05
 ..        ...
 281  11248.70
 282  11268.45
 283  11275.70
 284  11258.45
 285  11223.10

 [286 rows x 1 columns]}

In [27]:
#Bullish Marubozu
#Open ~ Low // Close ~ High
#Bearish Marubozu
#Open ~ High // Close~low

flag = 0
o_amount = 100000
amount = 100000
stock = 0
stoploss =0
for i in range(0,len(df1['Low'])):
    Open = df1['Open'].iloc[i]
    Open = Open.to_numpy()
    Low = df1['Low'].iloc[i]
    Low = Low.to_numpy()
    Close = df1['Close'].iloc[i]
    Close = Close.to_numpy()
    High = df1['High'].iloc[i]
    High = High.to_numpy()
    diff = abs(((Open[0]-Low[0])/(Open[0]))*100)
    diff1 = abs(((Close[0]-High[0])/(Close[0]))*100)
    tiff = abs(((Open[0]-High[0])/(High[0]))*100)
    tiff1 = abs(((Close[0]-Low[0])/(Low[0]))*100)
    
    if(diff<0.5 and diff1<0.5 and flag==0):
        Day = df1['Req_Trading_Day'].iloc[i]
        Day = Day.to_numpy()
        #print('Bullish Marubozu pattern found on:',Day[0])
        stock = amount/Close[0]
        amount = 0
        flag = 1
        stoploss = Low[0]
    if(tiff<0.5 and tiff1<0.5 and flag==1):
        Day = df1['Req_Trading_Day'].iloc[i]
        Day = Day.to_numpy()
        #print('Bearish Marubozu pattern found on:',Day[0])
        if(Close[0]<stoploss):
            #print(stoploss)
            amount += stock * Close[0]
            flag = 0
            stock =0
#loss = ((o_amount-amount)/(o_amount))*100
print(amount,stock)

100649.2595135811 0